* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-image: url("images/pexels-karolina-grabowska-4386469.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  font-size: 40px;
}

h1 {
  margin: 2% 0;
  font-family: "Fascinate", cursive;
  font-size: 6rem;
  color: #043d2c;
  -webkit-text-stroke: 2px #fff;
  text-align: center;
}

.formAndTotal__Div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.form {
  font-family: "Fascinate", cursive;
  color: #043d2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(77, 141, 131, 0.7);
  border-radius: 5px;
  padding: 2% 5%;
  margin: 20px 20px 20px 40px;
  width: 50%;
}

#coinNum {
  margin: 15px 0;
  padding: 10px;
  font-size: 16px;
  width: 25%;
}

#coinType {
  margin: 15px 0;
  padding: 10px;
  font-size: 16px;
}

#makeMoney {
  background-color: #043d2c;
  color: #ffffff;
  padding: 5px 10px;
  margin-top: 20px;
  font-family: "DotGothic16", sans-serif;
  font-size: 20px;
}

.moneyTotal__div {
  font-family: "Fascinate", cursive;
  color: #043d2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(77, 141, 131, 0.7);
  border-radius: 5px;
  padding: 1% 1%;
  margin: 20px 40px 20px 20px;
  width: 50%;
}

.moneyTotal__p {
  font-family: "DotGothic16", sans-serif;
  color: #ffffff;
  font-size: 40px;
}

.moneyTotal__piggybankimg {
  background-image: url("images/piggy-bank.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__coins {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px;
}

.penny {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
  border: 2px solid black;
}

.nickel {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
  border: 2px solid black;
}

.dime {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
  border: 2px solid black;
}

.quarter {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
  border: 2px solid black;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  .formAndTotal__Div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form {
    width: 400px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .moneyTotal__div {
    width: 440px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 20px;
  }

  .moneyTotal__piggybankimg {
    background-image: none;
  }
}
